body{
    background-image: url("GArNRPPF.jpeg");
    background-repeat: no-repeat;
}

button{
    margin-left: 171px;
    margin-top: 256px;
}

h1{
    width:400px;
    text-align: left;
    font-size: 30px;
}
