
body{
    background-image: url("background.jpg");
     
}  

  
/* .colors {
margin-top: 100px;
margin-left:200px; 
width:1000;
height:300px;
}  */

button{
margin-left: 300px;
position: relative;
}

.color{
    position: relative;
    display:block;
    margin-left: 300px;
    margin-top: 200px;
    

}

.orange{
    background-color: orange;
    position:relative;
    margin: 20px;
    box-shadow: 7px -7px 4px black;
    width: 200px;
    height:200px;
    border-radius:25px;
}

.tomato{
   background-color: tomato;
    position:relative;
    margin: 20px;
    box-shadow: 7px -7px 4px black;
    width: 200px;
    height:200px;
    border-radius:25px;
}
 
 .dodgerBlue{
 background-color: dodgerblue;
    position:relative;
    margin: 20px;
    box-shadow: 7px -7px 4px black;
    width: 200px;
    height:200px;
    border-radius:25px;
  
}


.violet{
   background-color: violet;
  
    position:relative;
    margin: 20px;
    box-shadow: 7px -7px 4px black;
    width: 200px;
    height:200px;
    border-radius:25px;
} 

.chosenColor {
    animation-duration: 0.7s;
    animation-name: blink;
    animation-iteration-count: 1;
    animation-direction: alternate;
 }
 
 @keyframes blink {
    from {
       opacity: 1;
    }
    to {
       opacity: 0;
    }
  }

  h1{
      margin-left: 550px;
      margin-top: 100px;
      font-size: 70px;
  }  