
 body::after {
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
    content: "";
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
} 

body{
    font-family: 'Lato';
}

.gameBoard td {
    width: 50px;
    height:50px;
    text-align: center;
   
}

.mark0 {
    background-color:#6763D0;
    color: grey;
}
.mark1 {
    background-color:#6763D0;
    color: #4713E4;
}
.mark2 {
    background-color:#6763D0;
    color: #003422;
}
.mark3 {
    background-color:#6763D0;
    color: #F44517;
}
.mark4 {
    background-color:#6763D0;
    color: #070330;
}
.mark5 {
    background-color:#6763D0;
    color: #545083;
}
.markBomb{
    background-color:#6763D0;
}

.cover{
    background-color:#83BA76;
    width: 30px;
    height:30px;
    text-align: center;
}

button{

    margin :3px;
    height: 40px;
    border-radius: 5px;
}

.timer{
  font-size: 20px;
  margin: 5px;
}

.maybeleBomb{
    border: 2px solid #470000;
}

h1{
    margin:10px;
}

table{
    margin: 5px;
}

.marked{
    background-color: lightblue;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.fa-bomb{
    color:#C60606;
}

.fa-clock-o{
    color:darkblue;
}


.fa-flag-o{
    color:purple;
}
