body::after {
    background: url("images.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
       
}

.container{    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}


.buttons{
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin: 20px;
    
}


table{
    border-top: 30px;

}
h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}
.nums {
    width: 70px;
    height: 70px;
    margin: 10px;
    text-align: center;
    font-size: 60px;
}

.num1 {
    background: #f30726
 }
 
        
.numClicked {
    background:  #F2ABD2;
}

.time {
    color : black;
    margin: 10px;
}


.level{

    width:200px ;
    height:50px;
    background-color: #E7D6EC;
    border: 1px solid gray;

}

.nums:hover{
    cursor: pointer;
}