body::after {
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
}

#map{
    width: 40%;
    margin: 0 auto;
    border: 5px solid black;
}

textarea{
    position: absolute;
    left: -1000px;
}

h1{
    font-size: 40px;
    margin: 0;
}

button ,.send-link{
    height: 30px;
    border-radius: 20px;
    background-color: #3A3AC0;
    color: #FFFDFD;
}

.head-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-top: 30px;
}

.search-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-location{
    display: flex;
    flex-direction: column;
    width:40%;
    margin: 0 auto;
}

.send-link{
    margin-left: 10px;
    margin-top: 30px;
}

.right-head{
display: flex;
flex-direction: column;
align-items: flex-end;
}