
body{

    background-image:  url('blue-clouds-day-fluffy-53594.jpeg');
    background-size: cover;
}


.balloons{
    width: 530px;
    height:530px;
    border-radius:25px;
    position: absolute;
    /* margin-bottom: 0px; */
    bottom:0px; 
}

.balloon1{

background-image: url("colors.jpg");
    /* background-color: blueviolet; */
    margin-left: 150px; 
       
}

.balloon2{
    background-image: url("colors.jpg");
    /* background-color: aqua; */
    margin-left: 700px; 
    
}

.hidden {
    visibility: hidden;    
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }

  .button1{
    margin-bottom:5px;
  }

  .button2{
    margin-bottom:5px;
  }