.headline{
    font-size: 50px;
    color:orangered;
}

.container{
    padding: 10px;
    background-color: black;
    max-width:1550px;
    width:100%;
    display: flex;
    flex-direction: column;
}

input{
    height:30px;
    width: 234px;
}

button{
    height:40px;
}
.head-div{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: #989191;
}
.videos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:45%;
}

.video-div{
    margin: 5px;
    background-color: #23D1A1;
    height:150px;
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    align-items: center;
}

.middle-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.show-video{
    background-color: gray;
    width:400px;
    height:400px;
}

.right-side{
    width:68%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wiki-info{
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin-top: -50px;
    color:#989191;
}

.title{
    text-transform: capitalize;
    line-height: 20px;
    display: flex;
    font-size: 30px;
    line-height: 28px;
}

.decs{
    line-height: 23px;
}


.search-img{
    display: flex;
}

iframe{
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .head-div{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 12px;
    }

    .video-div {
        width: 195%;
    }

    .middle-div{
        display: flex;
        flex-direction: column-reverse;
    }

    .wiki-info{
        width: 87%;
        margin-top: 5px;
    }

    .videos{
        width:44%;
        margin-left: 13px;
    }

    .right-side{
        width:100%;
    }
    iframe{
        width: 95%;
    }

    .btn-info{
        display: block;
    }
}
