body{
    background-color: navajowhite ;
    
}

img{
    height:300px;
    width :300px;
    margin-top: 0px;
    margin-left: 560px;
}


li {list-style-type: none;}

button{
    width:250px;
    height:30px;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    margin-left: 550px;
}

h1{
    margin: 50px;
    text-align: center;
    margin-right: 200px;
}