/* body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 15px;
} */

h1{
    color: black;
}

/* table{
    background-color: white;
    opacity: 0.5;
} */

body::after {
    background: url("background.jpg");
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-left: 0;
    width:600px;
    height:300px;
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
}