button{
    background-image: url("wood.jpg");
}

.screen{
    background-image:url("wood.jpg");
    width:350px;
   height: 70px;
   margin: 5px;
    font-size: 50px;
    filter: brightness(120%);
    padding: 10px;

}

.equal{
height:50px;
}

.num-0{
    border-collapse: collapse;
}

td > button{
    width: 100%;
}

table{

background-image:url("wood3.jpg");
border-image: url("wood3.jpg");
border:20px;
margin-left:520px;
margin-top:200px;
}