

#screen{
   
   height: 90px;
   margin: 5px;
   font-size: 30px;
   border-radius: 10px;
   border:1px solid rgb(23, 162, 184);
}
/* 
.container{
    display: flex;

}
  */
#equal{
height:80px;
}


td > button{
    width: 100%;
}

table{

border:20px;
/* margin-left:520px;
margin-top:200px; */
margin: 0 auto;
margin-top: 200px;

}

.base{
    margin-left:520px;
    /* margin-top:100px; */
}

#sqrt:after {
    content: ' \221A';
}

form{
    display: flex;
    flex-direction: row;
}